section{
    h3{
        color: #d97852;
        font-size: 32px;
        padding: 5px;
    }
    .contentContainer{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        
        p{
            grid-area: 1 / 1 / 4 / 5; 
            padding-left: 50px;
            text-align: left;
        }
    }
    img{
        width: 335px;
        height: 335px;
        justify-self: flex-end;
        grid-area: 1 / 5 / 4 / 7;  
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 5; }
    .div2 { grid-area: 1 / 5 / 4 / 7; }