@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


img{
    width: 96%;
    margin-left: 35px;
    margin-right: 35px;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    color: #d97852;
    font-size: 32px;
    margin-left: 40px;
}